# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = yihwan
	email = hi@yihwan.kim
[alias]
[alias]
	a = add
	b = branch
	c = commit
	p = push
	m = merge
	d = diff
	l = log
	s = status
	co = checkout
